<!DOCTYPE html>
<html>
  <%- include("partials/head"); -%>
  <body>
    <%- include("partials/navbar"); -%>
    <div class="container m-4">
      <% articles.forEach(article => { %>
        <div class="container mb-2">
          <h1>
            <%= article.title %> <span class="badge badge-primary"><%= article.id %></span>
          </h1>
          <p><%= article.body %></p>
        </div>
      <% }) %>

    </div>
  </body>
</html>